.course-file-box {margin: 0 2.4% 2% 0; position: relative;}
.course-file-box img {width:100%;}
.course-file-box .mediaplugin {margin: 0;}
.course-file-box .mediaplugin video {width: 100%;}
.path-course-view .course-content .completionprogress {
    display:none;
}

.course-content .course-level-0 ul.institutes {margin:0;}
.course-content .course-level-0 ul.institutes li.section h3,
.course-content .course-level-0 ul.institutes li.section h3 a{
	color: #fff;
    font: bold 24px/30px HelveticaNeueUltraLight;
    letter-spacing: 1px;
}
.course-content .sections-containter{float: left;width: 79%;}
.course-content .sections-menu{float: right;width: 20%;}
.course-content .sections-menu a.active{background-color: #fed130}
.course-content .sections-menu a{display: block;
    padding: 12px 15px;
    text-align: center;
    background-color: #eeefef;
    text-decoration: none;
    margin-bottom: 10px;
    color: #01356e;
    font-size: 11px;
    letter-spacing: 0.4px;
    font-weight: bold;
    line-height: 15px;
}
.course-content .course-level-0 ul.institutes li.section h4 {
    font:600 26px/30px HelveticaNeueUltraLight;
}
.course-content .course-level-0 ul.institutes li.section h4 span{
	clear: both;
    display: block;
    font: 600 100px/100px HelveticaNeueUltraLight;
    letter-spacing: 5px;
    margin: 0;
    text-align: center;
 }
.course-content .course-level-0 ul.institutes li.section {list-style: none;
	text-align: center;
	height: 300px;
	background-color: #72ccd2;
	border: 0 none;
	border-radius: 0;
	cursor: pointer;
	float: left;
	margin: 0 2.3% 2% 0;
	padding:0;
	position: relative;
	width: 47.7%;
	color: #fff;
}
.course-content .course-level-0 ul.institutes li.section.inprogress {
    background-color: #faa634;
}
.course-content .course-level-0 ul.institutes li.section.completed {
    background-color: #c1d82f;
}
.section-completion-status {position: absolute;text-align: center; width: 100%; left: 0; bottom: 0; text-transform: uppercase; letter-spacing: 1.5px; font: bold 14px Arial;}
.section-completion-status label {display: inline-block; text-transform: uppercase; padding-bottom: 15px; letter-spacing: 1.5px; font: bold 14px Arial; margin-right: 5px;}
.course-content .course-level-0 ul.institutes li.section .content {margin:0 40px;}
.course-content .course-level-0 ul.institutes li.section .left,
.course-content .course-level-0 ul.institutes li.section .right {width:40px;padding: 0 6px;}
.course-content .course-level-0 ul.institutes li.section .right img.icon { padding: 0 0 4px 0;}
.course-content .course-level-0 ul.institutes li.section .left {padding-top:22px;text-align: right;}
.jsenabled .course-content .course-level-0 ul.institutes li.section .left,
.jsenabled .course-content .course-level-0 ul.institutes li.section .right {width:auto;}
.course-content .course-level-0 ul.institutes li.section .left .section-handle img.icon { padding:0; vertical-align: baseline; }
.course-content .course-level-0 ul.institutes li.section .section_action_menu .textmenu,
.course-content .course-level-0 ul.institutes li.section .section_action_menu .menu-action-text { white-space: nowrap; }
.course-content .course-level-0 .section-level-0 .content .summary {display:none;}

.course-content .course-level-1 .section.main-section {background-color: #eeefef; border: 0 none; margin-bottom: 20px; padding: 20px;}
.course-content .course-level-1 .section.main-section .content h4.sectionid {color: #003370; display: inline-block; font: 27px/30px Helvetica; margin: 0 8px 0 0;}
.course-content .course-level-1 .section.main-section .content h3.sectionname {display: inline-block;font: 27px/30px Helvetica; margin-bottom: 10px;}
.course-content .course-level-1 .section.main-section .content .summary {font: 15px/19px HelveticaNeue;}
.course-content .inner-section-box {margin-right: -2%; margin-left: 0;}
.course-content .inner-section-box .section.section-level-1 {background-color: #c1d82f; border: 0; cursor: pointer; float: left; margin-right: 2%; margin-bottom: 2%; width: 48%;}
.course-content .inner-section-box .section.section-level-1.inprogress {background-color: #faa634;}
.course-content .inner-section-box .section.section-level-1.completed {background-color: #c1d82f;}
.course-content .inner-section-box .section.section-level-1 .content {padding: 20px 20px 17px;}
.course-content .inner-section-box .section.section-level-1 .content .sectionname {color: #fff; letter-spacing: 1px; margin: 0; position: relative; padding-left: 20px; padding-top: 2px;}
.course-content .inner-section-box .section.section-level-1 .content .sectionname a {color: #fff;}
.course-content .inner-section-box .section.section-level-1 .content .sectionname:before {content:'+'; position: absolute; width:20px; height: 20px; display: block; color: #fff; font: bold 22px/26px HelveticaNeueUltraLight; top: 0; left:0;}
.course-content .inner-section-box .section.section-level-1.current .content .sectionname:before {content:'-';}
.course-content .inner-section-box .section.section-level-1 .content .summary {color: #fff; font: 14px/20px HelveticaNeue; margin-top: 5px; display: none;}
.course-content .inner-section-box .section.section-level-1.current .content .summary {display:block; margin: 0;}
.course-content .inner-section-box .section.section-level-1 .content ul.inner-sections {display: none;}
.course-content .inner-section-box .section.section-level-1 .content ul.inner-sections li {position: relative;}
.course-content .inner-section-box .section.section-level-1.current .content ul.inner-sections {display: block;}
.course-content li.section.section-level-1 ul.inner-sections {list-style: outside none none; margin: 0; padding: 30px 0 0;}
.course-content li.section.section-level-1 ul.inner-sections li a {background-color: #fff; color: #003370; display: inline-block; font: 600 11px HelveticaNeue; letter-spacing: 1.5px; margin-bottom: 10px; padding: 5px 18px 5px 30px; text-transform: uppercase; position: relative;}
.course-content li.section.section-level-1 ul.inner-sections li.completed a {color: #bfccdb;}
.course-content li.section.section-level-1 ul.inner-sections li a:hover {background-color: #f5f5f5;}
.course-content li.section.section-level-1 ul.inner-sections li a:before {display: block; content:"\f10c"; font-family: fontawesome;font-size: 8px; height: 15px; left: 15px; position: absolute; top: 50%; width: 15px; font-weight: normal; margin-top: -4px;}
.course-content li.section.section-level-1 ul.inner-sections li.completed a:before {display: block; content:"\f111"; font-family: fontawesome;font-size: 8px; height: 15px; left: 15px; position: absolute; top: 50%; width: 15px; font-weight: normal; margin-top: -4px; color: #bfccdb;}

.editing .course-content ul li.section.main {padding: 15px 0;}
.editing .moodle-actionmenu[data-enhanced].show .menu.align-tr-br {min-width: 120px;}
.editing .reduce-sections {display:none;}
/*.editing .course-content ul li.section.section-level-1 {margin-left: 20px;}
.editing .course-content ul li.section.section-level-2 {margin-left: 40px;}
.editing .course-content ul li.section.section-level-3 {margin-left: 60px;}*/
.editing .course-content .section-level-3 ul.section .activity .mod-indent-outer {float:none; padding-left: 32px; width: auto;}
.editing .course-content .section-level-3 ul.section li.activity {border-top: 1px solid #e7e7e7;padding: 7px;}
.editing .course-content .section-level-3 ul.section li:last-child {border-bottom: 1px solid #e7e7e7;}
.editing .activity img.activityicon {margin-bottom: -3px;}
.editing .section .activity .editing_move {top: 7px;}
.editing .section .activity .actions {top: 8px;}
.editing .section-modchooser {margin-top: 10px;}
.editing .course-content .sectionname {margin-left: 40px;}
.editing .course-content ul .section.main .left-side {font-size: 22px; position: absolute; text-align: center;}
.editing .course-content ul .section.main .left-side .section-move { display: inline-block; height: 22px; margin-right: 3px;}
.editing .course-content ul li.section.main:first-child .left-side .section-move.move-up {display:none;}
.editing .course-content ul li.section.main:last-child .left-side .section-move.move-down {display:none;}
/*.editing .course-content ul.institutes li.section.main#section-0 {display:none;}*/

.course-content-header h2.section-title {margin-bottom: 10px;}
.course-content-header .section-summary {width: 60%;}
.course-content-header .section-menu {display: table; margin: 20px 0 25px; width: 100%; padding: 0;}
.course-content-header .section-menu .menu-item {background-color: #bfd5ef; border-right: 1px solid #fff; display: table-cell; padding: 6px 25px; position: relative; }
.course-content-header .section-menu .menu-item a {color: #003370;font-size: 14px;}
.course-content-header .section-menu .menu-item.completed a {color: #7f99b7;}
.course-content-header .section-menu .menu-item.active a {font-weight: 600;}
.course-content-header .section-menu .menu-item a:hover {color: #333;}
.course-content-header .section-menu .menu-item:before {display: block; content:"\f10c"; font-family: fontawesome;font-size: 8px; height: 15px; left: 12px; position: absolute; top: 6px; width: 15px; font-weight: normal; color: #003370;}
.course-content-header .section-menu .menu-item.completed:before {content:"\f111"; color: #7f99b7;}
.course-content-header .section-menu .section-modules {display:none;background-color: #bfd5ef; padding: 10px 0; position: absolute; width: 100%; margin-left: -25px; z-index: 1; list-style: none;}
.course-content-header .section-menu .menu-item.open .section-modules {display:block;}
.course-content-header .section-menu .section-modules .activity-item {border-bottom: 1px solid #fff; margin: 0 15px; padding: 5px 1px;}
.course-content-header .section-menu .menu-item.active .section-modules .activity-item a {font-weight: normal;}
.course-content-header .section-menu .menu-item .section-modules .activity-item.active a {font-weight: 600;}
.course-content-header .section-menu .section-modules .activity-item:last-child {border-bottom:0;}
.course-content-header .section-menu .section-modules .activity-item a {display: block;font-size: 12px;}
.course-content-header .section-menu .section-modules .activity-item a:hover {color: #333;}
.course-content-header .section-menu .menu-item .section-menu-toggler { color: #fff;font-size: 12px; position: absolute;  right: 8px; top: 9px; cursor: pointer;}
.course-content-header .section-menu .menu-item.active .section-menu-toggler { color: #003370;}
.course-content-header .section-menu .menu-item.active.completed .section-menu-toggler { color: #7f99b7;}
.course-content-header .section-menu .menu-item.open .section-menu-toggler { color: #003370; transform: rotate(90deg);}
.course-content-header .section-menu .menu-item.open.completed .section-menu-toggler { color: #7f99b7;}

.course-content ul.institutes {padding: 0; margin: 0;}
.course-content ul li.section.main {list-style: none;}
.course-content .course-level-3 .single-section {margin-top: 0;}
.course-level-3 .single-section .sectionname {color: #81addf; margin-bottom: -10px;}
.course-content .course-level-3 .section.section-level-3.current {background-color: transparent;}
.course-content ul li.section.main.section-level-3 {border: 0;}
.course-content .section-level-3 ul.section {margin: 0;}
.course-content .section-level-3 ul.section li.activity {margin: 0;border-top: 1px solid #bcbcbd; padding: 20px 0;}
.course-content .section-level-3 ul.section li.activity:last-child {border-bottom: 1px solid #bcbcbd;}
.course-content .section-level-3 ul.section .activity .mod-indent-outer {padding-left: 0; width: 35%; float: left;}
.course-content .section-level-3 ul.section .activity .activityinstance > a {color: #555; font-size: 12px; line-height: 16px;}
.course-content .section-level-3 ul.section .activity .activityinstance > a:hover {color: #000;}
.course-content .section-level-3 ul.section .activity .activityinstance > a .activityicon {display: none;}
.course-content .section-level-3 .section .activity .contentwithoutlink, 
.course-content .section-level-3 .section .activity .activityinstance { display: table-cell; height: 36px; line-height: 19px;  vertical-align: middle;}
.course-content .section-level-3 .section .activity .contentwithoutlink {font-size: 14px; line-height: 21px; font-family: HelveticaNeue;}
.course-content .section-level-3 ul.section .activity .activity-buttons {padding-left: 0; width: 65%; float: left;}
.course-content .section-level-3 ul.section .activity .activity-buttons .btn { display: table-cell; height: 36px; line-height: 12px; margin-left: 15px; padding: 5px; text-align: center; vertical-align: middle; width: 120px;}
.course-content .section-level-3 ul.section .activity .activity-buttons .btn-divider {display: table-cell; width: 15px;}
.course-content .section-level-3 ul.section .activity .activity-buttons .btn-completion {cursor:inherit;}

.course-content .course-level-3 .section-navigation.mdl-bottom {text-align: right;margin: 20px 0 50px; padding: 0;}
.course-content .course-level-3 .section-navigation.mdl-bottom .btn {background-color: #ffd200; background-image: none; border: 1px solid #ffd200; border-radius: 0; margin: 5px 0 15px 20px;  padding: 4px 15px 3px;width: 100px;}
.course-content .course-level-3 .section-navigation.mdl-bottom .btn a {color: #003370; font: 600 10px/16px HelveticaNeue; letter-spacing: 1px; text-transform: uppercase;text-shadow: none; }
.course-content .course-level-3 .section-navigation.mdl-bottom .btn a:hover {color: #fff;}
.course-content .course-level-3 .section-navigation.mdl-bottom .btn a span {display: none;}

.course-content-footer-inner { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; margin-bottom: 10px; padding: 20px 0; }
.course-content-footer-inner form.togglecompletion {display: inline-block;}
.course-content-footer-inner form.togglecompletion button {margin-left: 0;}
.course-content-footer-inner button {display: inline-block; padding: 4px 5px !important; width: 150px;}
.course-content-footer-inner .btn.btn-success.btn-inverse {background-color: transparent; color: #c1d82f; margin-right: 20px;}
.course-content-footer-inner .btn.btn-warning.btn-inverse {background-color: transparent; color: #faa634; margin-right: 20px;}
.course-content-footer-inner .btn.status-btn {cursor:default;}
.course-content-footer-navbuttons {text-align: right;}
.course-content-footer-navbuttons .btn {margin-left: 20px;color: #003370; font: 600 10px/16px HelveticaNeue; letter-spacing: 1px; text-shadow: none; text-transform: uppercase; width: 100px; padding: 4px 15px 3px !important;}
.mod-text .contentafterlink {margin: 50px 0 0 0 !important;font-size: 14px; line-height: 21px; font-family: HelveticaNeue; color: #777;}
.course-content-footer-navbuttons .btn a {color: #003370;}
.course-content-footer-navbuttons .btn a:hover {color: #ffffff;}
.course-content-footer-navbuttons .btn a span {display:none;}
.mod-text .contentafterlink .no-overflow {overflow: initial !important;}

h2.activity-heading {color:#81addf; margin-bottom: 10px;}
#region-main #intro.generalbox {padding: 5px 0;}


@media (max-width: 800px) {
    .course-content-header .section-summary {width: 100%;}
}

