.path-local-notifications .nav-tabs {
    display: table;
    margin: 20px 0 25px;
    width: 100%;
    padding: 0;
}

.path-local-notifications .nav-tabs > li {
    list-style-type: none;

    background-color: #bfd5ef;
    border-right: 1px solid #fff;
    display: table-cell;
    padding: 6px 25px;
    position: relative;
}


.path-local-notifications .nav-tabs > li.active > a,
.path-local-notifications .nav-tabs > li > a {
    font-weight: 300;

    color: #003370;
    font-size: 14px;
    background-color: inherit;
    border: none;
}

.path-local-notifications .nav-tabs > li.active > a {
    font-weight: 600;
}

.path-local-notifications .tab-content .not-category {
    padding-left: 0px!important;
    font-size: 20px;
}

