header .container-fluid.header-search-panel .search-input-wrapper {
	margin-left: 0px;
	margin-right: 0px;
}

header .header-search-panel .search-input-wrapper > form > input {
	width: 100%;
}

header .small-logo-box-mobile,
header .mobile-nav,
header .header_course_name {
	display: none;
}

header .small-logo-box .course-name-box {
	margin-left: 55px;
}

header .small-logo-box-mobile .course-progress-box {
	margin-top: 7px;
}

header .small-logo-box-mobile .course-progress-box label {
	color: #58595b;
	font: 10px HelveticaNeue;
	margin-bottom: 2px;
	text-transform: uppercase;
}

header .small-logo-box-mobile .course-progress-box .course-progress {
	background-color: #eeefef;
	border-radius: 3px;
	height: 10px;
	position: relative;
	width: 170px;

	display: inline-block;
	float: right;
}

header .small-logo-box-mobile .course-progress-box .course-progress-percentage {
	background-color: #ffd200;
	border-radius: 3px;
	height: 10px;
}

.course-content .embed iframe {
	height: 778px!important;
}

.path-course .sections-containter .sections-menu,
.path-course .course-content .sections-menu a.schedule_item {
	display: none;
}

.path-course .course-file-box {
	margin-bottom: 10px;
}

.mobile-quiz-flagged {
	display: none;
}

@media (max-width: 1280px) {
	.course-content .embed iframe {
		height: 500px!important;
	}
}

@media (max-width: 1200px) {

	.course-content .embed iframe {
		height: 446px!important;
	}

	header .header-navbar .container-fluid.header-search-panel .search-input-wrapper {
		width: 40%;
	}

	header .header-navbar .header-notifications-menu {
		width: 60%
	}

	header .header-navbar .header-notifications-menu > ul > li:nth-last-child(n+3) ~ li:not(li.moodle-editing-btn) {
		width: 40%;
	}

	header .header-navbar .header-notifications-menu > ul > li:nth-last-child(n+3):first-child {
		width: 35%;
	}

	header .header-navbar .header-notifications-menu > ul > li.moodle-editing-btn {
		width: 25%;
	}
}

@media (max-width: 980px) {
	.path-local-gradebook #page.container-fluid {
		margin-top: 0px !important;
	}
}

@media (max-width: 960px) {

	#page-mod-quiz-attempt .course-content-footer-inner {
		padding: 0px!important;
		padding-top: 10px
	}

	.path-mod-quiz .mobile-quiz-flagged {
		display: block;
		width: 100%;
		border-top: 1px solid #ccc;
	}

	.path-mod-quiz .mobile-quiz-flagged span {
		cursor: pointer;
	}

	.path-mod-quiz .mobile-quiz-flagged p {
		padding-top: 10px;
		padding-bottom: 0px;
		margin-bottom: 0px;
		font-size: 12px;
		font-weight: bold;
		color: #980d22;
	}

	.path-mod-quiz .course-content-footer-inner {
		padding-top: 10px!important;
	}

	#page-mod-quiz-attempt #region-main .que > .info ul,
	#page-mod-quiz-attempt #region-main .que > .info h3 {
		display: none;
	}

	#page-mod-quiz-attempt #region-main .que > .info {
		width: 0px;
		height: 0px;
		padding: 0px;
	}

	#page-mod-quiz-attempt #region-main .que .content {
		padding-right: 0px;
		border-right: none;
		width: 100%;
	}

	.path-mod .course-content-header .section-menu .menu-item,
	.path-course .course-content-header .section-menu .menu-item {
		display: inline-block;
		margin-bottom: 5px;
		margin-right: 5px;
	}

	.path-mod .course-content-header .section-menu,
	.path-course .course-content-header .section-menu {
		padding-bottom: 10px;
	}

	.path-mod .activecourse {
		display: none;
	}

	#page-mod-quiz-view .attempts .attempt-item {
		font-size: 16px;
	}

	.path-course .course-content .sections-menu {
		display: none;
	}

	.path-course .sections-containter .sections-menu {
		display: block;
		width: 100%;
	}

	.path-course .sections-containter .sections-menu a {
		display: inline-block!important;
		width: calc(calc(100%/3) - 7px);
	}

	.path-course .sections-containter .sections-menu a {
		margin-right: 10px;
	}

	.path-course .sections-containter .sections-menu a:nth-last-of-type(1) {
		margin-right: 0px;
	}

	.hidden_mobile,
	.container-fluid .left-sidebar,
	.container-fluid.header-path-panel,
	#page-content .course-catalog-title,
	header .small-logo-box .course-progress-box {
		display: none;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section {
		width: 110%;
		/*min-height: 100px*/;
		height: inherit;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section .content {
		margin: 15px 20px;
		position: relative;
	}

	.path-course .course-content .course-level-0 .section-completion-status {
		height: 16px;
		width: 250px;

		position: absolute;
		left: 102px;
		bottom: 5px;
		text-align: left;
	}

	.path-course .course-content .course-level-0 .section-completion-status label {
		padding-bottom: 0px;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section .content h4 {
		text-align: left;
		margin: 0px;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section h4 span:not(.title) {
		display: inline-block;
		text-align: left;
		font-size: 70px;
		line-height: 70px;
		height: 55px;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.path-course .course-content .sections-containter {
		width: 100%;
	}

	.path-course .course-file-box {
		margin-right: 0px;
	}

	.path-course .row-fluid [class*="span"] {
		margin-left: 0px!important;
	}

	.path-course #page.container-fluid {
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.path-course .span3.side-post {
		/*display: none;*/
	}

	/*.path-course #region-main-box {
		width: 100%;
	}*/

	.row-fluid .span3 {
		width: 22.9281768%;
	}

	header .small-logo-box .course-name-box {
		margin-left: 55px;
		margin-top: 6px;
	}

	header .small-logo-box-mobile {
		display: block;
	}

	header .moble-course-progress {
		display: inline-block;
		padding-right: 10px;
		float: left;

		color: #58595b;
		font: 10px HelveticaNeue;
		margin-bottom: 2px;
		text-transform: uppercase;
	}

	header .small-logo-box {
		display: block;
		padding: 0px;
		margin: 0px;
		position: absolute;
		top: -8px;
		left: 80px;
	}

	header .small-logo-box-mobile {
		display: block;
		padding: 0px;
		margin: 0px;
		position: absolute;
		bottom: 5px;
		right: 10px;
		width: 290px;
	}

	header .header_course_name {
		display: inline-block;

		position: absolute;
		top: 15px;

		color: #003370;
		font: bold 22px HelveticaNeueUltraLight;
		letter-spacing: 1.2px;
	}

	.container-fluid .left-sidebar.active {
		display: block;

		position: fixed;
	}

	.container-fluid #page-content.active-sidebar {
		padding-left: 55px;
	}

	.container-fluid.full-width #page-content.active-sidebar {
		padding-left: 70px;
	}

	.container-fluid #page-content.active-sidebar.open {
		padding-left: 265px;
	}

	.container-fluid.full-width {
		padding-left: 0px!important;
		padding-right: 0px!important;
		padding-left: 10px!important;
		padding-right: 10px!important;
	}

	#page.container-fluid {
		margin-top: 0;
	}

	.navbar.navbar-fixed-top.moodle-has-zindex {
		position: relative;
		height: 105px;
		margin-bottom: 10px;
	}

	header .header-navbar {
		width: 100%;
	}

	header .header-navbar .moodle-editing-btn {
		display: none;
	}

	header .header-navbar .container-fluid.header-search-panel {
		margin: 0 10px 0 10px;
	}

	header .header-navbar .header-notifications-menu > ul > li:nth-last-child(2) {
		border-right: none;
	}

	header .header-navbar .header-notifications-menu > ul > li:nth-last-child(3),
	header .header-navbar .header-notifications-menu > ul > li:nth-last-child(2){
		width: 50%;
	}

	header .header-logo {
		position: absolute;
		left: 0px;
		top: 55px;

		height: 65px;
		width: 100%;
		max-width: none;
	}

	header .header-logo .logo {
		margin-left: 0px;
	}

	header .header-logo div.small-logo,
	header .header-logo div.logo {
		background: rgba(0, 0, 0, 0) url([[pix:theme|small-logo]]) no-repeat;
		background-size: 80%;
		width: 45px;
		max-width: 45px;
		display: inline-block;
	}

	header .header-logo div.small-logo {
		padding: 0px;
		margin: 0px;
		height: 53px;
	}

	.path-my .nav-tabs-header {
		display: none;
	}

	header .mobile-nav {
		display: inline-block;
		background: rgba(0, 0, 0, 0) url([[pix:theme|mobile_nav]]) no-repeat;
		background-size: 50%;

		width: 55px;
		height: 34px;

		margin-bottom: 21px;
		margin-left: 20px;

		cursor: pointer;
	}

	.course-content .course-level-0 ul.institutes li.section h4 .title {
		display: inline-block;
		vertical-align: top;
		padding-bottom: 25px;
		text-align: left;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section h4 span:not(.title) {
		display: inline-block;
		width: 94px;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section h4 span.title {
		display: inline-block;
		width: calc(100% - 105px);
	}

	.path-course .course-content .inner-section-box .section.section-level-1 {
		display: block;
		width: 100%;
	}

	.path-course .course-content .inner-section-box {
		margin-right: 0px;
	}

	.row-fluid .span3 {
		width: 150px;
	}

	.side-post aside {
		width: inherit;
	}

	.row-fluid .span9 {
		width: calc(100% - 170px);
		float: right;
	}

	.course-navigation-block ul {
		padding: 0 10px 0 8px;
	}

	.course-navigation-block .course-section-box a {
		font-size: 12px;
	}

	.container-fluid .side-post.open {
		display: -webkit-inline-box;
	}
}

@media (max-width: 640px) {
	header .header-navbar .container-fluid.header-search-panel .search-input-wrapper {
		width: 40%
	}

	header .header-navbar .header-notifications-menu {
		width: 60%
	}

	.course-content .embed iframe {
		height: 214px!important;
	}
}

@media (max-width: 480px) {
	header .header-notifications-menu > ul > li > a {
		font-size: 12px;
	}

	header,
	footer,
	.container-fluid.full-width {
		min-width: 480px;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}

	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top {
		 margin-left: 0px;
		 margin-right: 0px;
	}
}


@media (max-width: 1200px) {
	.login-page #page.container-fluid {width: 35%;}
	.login-page footer#page-footer {width: 65%;}
	/*.container-fluid.header-search-panel .search-input-wrapper {width: 40%;}*/
	/*.header-notifications-menu {width: 58%;}*/
}
@media (max-width: 1000px) {
	#page.container-fluid.full-width { margin-top: 0;}
}
@media (max-width: 950px) {
	.login-page #page.container-fluid {width: 45%;}
	.login-page footer#page-footer {width: 55%;}
	/*.container-fluid.header-search-panel .search-input-wrapper {width: calc(100%-105px);}*/
	/*.header-notifications-menu {width: 100px; float: right;}
    .header-notifications-menu ul li { width: auto;}
    .header-notifications-menu ul li .menu-text {display: none;}    */
}
@media (max-width: 850px) {
	.login-page footer .foot-notes .footnote.text-center {width: 90%}
}
@media (max-width: 750px) {
	.login-page #page.container-fluid {width: 50%;}
	.login-page footer#page-footer {width: 50%;}
}
@media (max-width: 650px) {
	.login-page {background-image: none; background-color: #003370;}
	.login-page #page.container-fluid { height: 100%; overflow: auto; padding: 30% 0 0; position: relative; width: 100%;}
	.login-page footer#page-footer {100%}
	.login-page .container-fluid header {background-color: #fff; height: 26%; position: absolute; top: 0; width: 100%;}
	/*.login-page .container-fluid header div.logo { background-size: contain;float: none; height: 80%; margin: 10px auto 0; width: 50%;}*/
	.login-page footer#page-footer {display: none;}
}
@media (max-width: 550px) {
	.login-page .container-fluid header {height: 22%;}
}
@media (max-width: 450px) {
	.login-page .container-fluid header {height: 130px;}
	.login-page #page.container-fluid { padding: 130px 0 0;}
}
@media (max-width: 350px) {
	.login-page .container-fluid header {height: 100px;}
	.login-page #page.container-fluid {padding: 80px 0 0;}
}
