.path-local-gradebook #page.container-fluid {
    margin-top: 120px;
}

.path-local-gradebook h2 {
    margin-bottom: 15px;
}

.path-local-gradebook .group,
.path-local-gradebook .courses {
    margin: 0px;
    padding: 0px;

    font-family: "Helvetica";
    font-weight: normal;
}

.path-local-gradebook .group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.path-local-gradebook .group .group-item,
.path-local-gradebook .courses .courses-item {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 17px;
    letter-spacing: 0.7px;
    font-size: 19px;
    cursor: pointer;
}

.path-local-gradebook .group .group-item {
    background-color: #c1d72e;
    color: white;

    margin-bottom: 2px;
    margin-top: 2px;
}

.path-local-gradebook .group .group-item.active {
    margin-bottom: 0px;
}

.path-local-gradebook .courses .courses-item {
    background-color: #72ccd2;
    color: #00336f;
}

.path-local-gradebook .courses .group .categories {
    padding: 15px 30px;
    padding-bottom: 10px;
    background-color: #fce3c2;
    margin: 0;

    color: #00336f;
    font-size: 18px;
}

.path-local-gradebook .courses .group .categories .sections {
    padding-left: 15px;
}

.path-local-gradebook .courses .group .categories > li > p {
    margin-bottom: 5px;
}

.path-local-gradebook .courses .group .categories .sections .section-item,
.path-local-gradebook .courses .group .categories .category-item {
    padding-top: 4px;
    padding-bottom: 10px;
    margin: 0px;

    cursor: pointer;
}

.path-local-gradebook .courses .group .categories .sections {
    display: none;
}

.path-local-gradebook .courses .group .categories li.active .sections {
    display: block;
}

.path-local-gradebook .courses .group .categories .sections table {
    padding: 0 0;
    border: none;
    display: none;

    font-size: 14px;
    font-family: "Helvetica";
    font-weight: normal;
}

.path-local-gradebook .courses .group .categories .category-item > span,
.path-local-gradebook .courses .group .categories .section-item > span{
    padding-right: 4px;
}

.path-local-gradebook .courses .group .categories .sections li.active table thead {
    border-bottom: solid 1px #003370;
}

.path-local-gradebook .courses .group .categories .sections li.active table {
    display: table;
    width: 100%;
}

.path-local-gradebook .courses .group .categories .sections table p {
    margin: 0px;
    font-weight: bold;
}

.path-local-gradebook .courses .group .categories .sections table th {
    text-transform: uppercase;
}

.path-local-gradebook .courses .group .categories .sections table p,
.path-local-gradebook .courses .group .categories .sections table th {
    /*font-family: 'Open Sans', sans-serif;*/
}

.path-local-gradebook .courses .group .categories .sections table tr {
    line-height: 24px;
}

.course-status.notstarted,
.section-status.notstarted {
    background-color: #72ccd2!important;
}


.course-status.pending,
.course-status.inprogress,
.section-status.inprogress {
    background-color: #faa634!important;
}

.course-status.completed,
.section-status.completed {
    background-color: #c1d82f!important;
}