#page-mod-quiz-review #region-main,
#page-mod-quiz-review #region-main .que > .info,
#page-mod-quiz-review #region-main .que .formulation {
    background: white;
}

#page-mod-quiz-review #region-main .que {
    clear: both;
    position: relative;
    margin: 0px;
}

#page-mod-quiz-review #region-main .que > .info {
    float: right;
    width: 190px;
    padding: 15px;
}

#page-mod-quiz-review #region-main .que > .info,
#page-mod-quiz-review #region-main .que > .content {
    padding: 30px;
    padding-top: 0px;
    margin: 0;
}

#page-mod-quiz-review #region-main .que > .content {
    padding-left: 0px;
}

#page-mod-quiz-review #region-main .que > .info,
#page-mod-quiz-review #region-main .que > .content,
#page-mod-quiz-review #region-main .que .formulation {
    border: none;
    border-radius: 0;
}

#page-mod-quiz-review .que .formulation {
    margin: 0;
    padding-left: 0px;
    padding-bottom: 30px;
    border-top: 1px solid #bcbcbd!important;
}

#page-mod-quiz-review .que:first-of-type .formulation {
    border-top: none!important;
}

#page-mod-quiz-review #region-main .que .formulation .ablock {
    padding-left: 30px;
}


#page-mod-quiz-review #region-main .que > .content {
    /*float: left;*/
    width: calc(100% - 190px);
}

#page-mod-quiz-review #region-main .que > .info > .grade,
#page-mod-quiz-review #region-main .que > .info > .state {
    display: none;
}

#page-mod-quiz-review #region-main .que .content {
    border-right: 1px solid #bcbcbd;
}

#page-mod-quiz-review #region-main .que  .questionflagimage {
    display: none;
}

#page-mod-quiz-review #region-main .que .questionflag.editable {
    position: absolute;
    left: 0px;
    bottom: 15px;

    padding: 6px;
    border: solid 1px #980d22;
    color: #980d22;

    width: 150px;
    /* height: 45px;*/

    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

#page-mod-quiz-review #region-main .que .questionflag.editable.active {
    background-color: #980d22;
    color: white;
}


#page-mod-quiz-review #region-main .que:last-of-type {
    background-color: red!important;
}

#page-mod-quiz-review #region-main-box .row-fluid {
    position: relative;
}

#page-mod-quiz-review .side-inner {
    position: absolute;
    top: 170px;
    width: inherit;
}

#page-mod-quiz-review #status_btn,
#page-mod-quiz-review  .togglecompletion,
#page-mod-quiz-review .side-inner .block_fake .content .othernav .endtestlink,
#page-mod-quiz-review .side-inner .block_fake .content .qnbutton,
#page-mod-quiz-review .side-inner .block_fake .header {
    display: none;
}

#page-mod-quiz-review .side-inner .block_fake .content .othernav,
#page-mod-quiz-review .side-inner .block_fake .content .qn_buttons.clearfix.multipages {
    display: inline-block;
    margin: 0px;
    width: calc(100% - 150px);
}

#page-mod-quiz-review .side-inner .block_fake .content {
    padding: 0px;
}

#page-mod-quiz-review .side-inner .block_fake .content .othernav {
    width: 150px;
    text-align: left;
}

#page-mod-quiz-review .side-inner .block_fake .content #quiz-timer {
    margin: 0px;
}

#page-mod-quiz-review  #responseform {
    margin-top: 60px;
}

#page-mod-quiz-review .side-inner .block.block_fake {
    border: none;
    background-color: white;
    border-bottom: 1px solid #bcbcbd;
}

#page-mod-quiz-review .mod_quiz-next-nav:hover,
#page-mod-quiz-review .mod_quiz-next-nav {
    position: absolute;
    bottom: 41px;
    right: 0px;

    border: 1px solid #c1d82f;
    border-radius: 0px;
    color: white;
    background: #c1d82f;

    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    width: 130px;
    padding: 4px 15px 3px !important;
    /*background-position: 0px;*/

    transition: none;
    -webkit-transition: none;
}

#page-mod-quiz-review .course-content-footer-navbuttons {
    padding-right: 150px;
}

#page-mod-quiz-review .course-content-footer-navbuttons .btn {
    background-color: #ffd200;
}

#page-mod-quiz-review .submitbtns {
    padding: 0px;
}

#page-mod-quiz-review  .course-content-footer-inner {
    border-top: none;
    padding-top: 25px;
}

#page-mod-quiz-review .mod_quiz-section-heading.activity-heading {
    color: #81addf;
    text-transform: capitalize;
    font-size: 26px;
}

#page-mod-quiz-review #quiz-timer {
    color: #bcbcbd;
    font-size: 12px;
}

#page-mod-quiz-review .qtext p {
    color: #58595b;
}

#page-mod-quiz-review .info h3 {
    font-size: 12px;
    color: #980d22;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 16px;
}


#page-mod-quiz-review .info ul li .qno,
#page-mod-quiz-review .info ul li {
    color: #58595b;
    font-size: 12px;
}


#page-mod-quiz-review  .que .qtext {
    margin-bottom: 10px;
}

#page-mod-quiz-review .course-content-footer-inner {
    padding-top: 0px;
}